:root {
  /* typografy & rendering */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Light Mode */
  color-scheme: light;   
  --bg-color: #ffffff;
  --font-color:#1a1a1a;
  --headings-color: #4c285e;
  --btn-color: #9b8ca3;
  --btn-border-hover: #8e71a5;
  --input-bg: #f0e3f5;
  --input-color: #1a1a1a;
}
/* Theme Dark Mode */
[data-theme="dark"] {
  color-scheme: dark;   
  --bg-color: #1a1a1a;
  --font-color:#ffffff;
  --headings-color: #9b8ca3;
  --btn-color: #4c285e;
  --btn-border-hover: #8e71a5;
  --input-bg: #21212b;
  --input-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input, textarea, select {
  background-color: var(--input-bg);
  color: var(--input-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--btn-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


